<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>dResto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#7952b3" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
  </head>
  <body>
    <button class="skip-to-content-link" id="skip-button">
      Skip to content
    </button>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <h1 class="header__title">dResto</h1>
          <button class="btn-icon" id="hamburger" aria-label="Menu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="{2}"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
          <nav id="drawer" class="nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="/#">Home</a></li>
              <li class="nav__item"><a href="/#/favorite">Favorite</a></li>
              <li class="nav__item">
                <a href="https://github.com/ghufr">About Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main></main>
    <footer class="footer">
      <div class="container">
        <p>copyright © 2021 - dResto</p>
      </div>
    </footer>
  </body>
</html>
