html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #343a40;
  width: 100%;
  overflow-x: hidden;
}

body,
html,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 0.9em;
}

button {
  color: #343a40;
}

a {
  font-weight: 600;
  color: #343a40;
  text-decoration: none;
  transition: color 0.1s ease-out;
}

a:hover {
  color: #7952b3;
}

h1 {
  font-weight: 600;
}

img,
li {
  display: block;
}

hr {
  border-color: #eaeaea;
  border-style: solid;
  border-width: 0.5px;
  background-color: #eaeaea;
  border-radius: 10px;
}

.input,
.textarea {
  display: block;
  border: 1.4px solid #adacac;
  border-radius: 0.25em;
  padding: 8px;
  box-sizing: border-box;
  min-height: 48px;
}

.input:focus,
.textarea:focus {
  border-color: #7952b3;
  outline: none;
}

.textarea {
  max-width: 500px;
  width: 100%;
}

.form__item {
  margin-bottom: 8px;
}

.form__footer {
  margin-top: 16px;
}

form label {
  font-size: 0.85em;
  font-weight: 600;
}

.btn {
  padding: 14px 24px;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
}

.btn-icon {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-primary {
  background-color: #7952b3;
  color: #fff;
}

.btn-secondary {
  background-color: #f0a500;
  color: #5a3b00;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
  position: relative;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header {
  /* position: fixed;
  left: 0;
  top: 0;
  z-index: 20; */
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

#drawer {
  top: 0;
  right: 0;
  transform: translateX(100vw);
  transition: all 0.2s ease-in-out;
  position: fixed;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  height: 100vh;
  z-index: 20;
  box-shadow: -2px -2px 16px rgba(0, 0, 0, 0.3);
}

#drawer.open {
  transform: translateX(0);
}

#drawer.open .nav__list {
  display: block;
}

#hamburger {
}

#hamburger svg {
  width: 24px;
  height: 24px;
}

/* Hero */

.hero {
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__container {
  position: relative;
}

.hero__inner {
  padding: 124px 24px;
  position: relative;
  z-index: 10;
}

.hero__overlay {
  background-color: #7952b3;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hero__img {
  background-image: url('../public/resized-images/hero-image_1-small.webp'),
    url('../public/resized-images/hero-image_1.jpg');
  background-position: 30% top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.hero__title {
  font-size: 2em;
  margin: 0;
}

.hero__description {
  margin-bottom: 24px;
  font-size: 1.2em;
}

.nav__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item a {
  text-decoration: none;
  padding: 16px;
  display: block;
}

.content {
  padding: 16px 0;
}

.explore__label {
  text-align: center;
  margin-bottom: 48px;
}

/* Restos */

.restos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  position: relative;
  min-height: 50vh;
}

.resto-item {
  box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.resto-item__thumbnail {
  border-radius: 8px 8px 0 0;
  width: 100%;
  min-height: 248px;
}

.resto-item__thumbnail::before {
  content: '';
  width: 100%;
}

.resto-item__title {
  font-size: 1.3em;
}

.resto-item__title a {
  padding-top: 16px;
}

.resto-item__content {
  padding: 24px 16px;
}

.resto-item__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.resto-item__location {
  display: flex;
  align-items: center;
}

.resto-item__rating {
  margin-right: 8px;
}

.resto-item__location span,
.resto-item__rating span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.resto-item__location svg {
  width: 20px;
  height: 20px;
  color: #7952b3;
  vertical-align: middle;
  margin-right: 2px;
}

.resto-item__rating svg {
  color: #f0a500;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -2px;
}

/*
* Resto Detail
*/

.resto-detail__container,
.resto-detail__menus-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.resto-detail__title {
  font-size: 1.5em;
}

.resto-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resto-detail__header button {
  color: #7c7c7c;
  transition: all 0.1s ease-in;
}

#likeButton.active {
  color: #e1578a;
}

.resto-detail__header svg {
  width: 2.5em;
  height: 2.5em;
}

.resto-detail__menus-label,
.resto-detail__reviews-label {
  font-size: 1.5em;
}

.resto-detail__reviews-label {
  margin-bottom: 16px;
}

.resto-detail__picture {
  width: 100%;
  border-radius: 0.5em;
}

.resto-detail__menu-list {
  list-style: disc;
}

.resto-detail__menu-list li {
  display: list-item;
}

.resto-detail__description {
  margin-bottom: 16px;
}

.resto-detail__review-list {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 16px;
}

.resto-detail__review-item {
  flex: 0 0 55%;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.08);
  border-radius: 0.25em;
  padding: 16px;
  margin-right: 24px;
  display: block;
  border: 1px solid #eaeaea;
}

.review-item__date {
  font-size: 0.8em;
  color: #6b6b6b;
}

.review-item__description {
  margin-bottom: 8px;
}

.footer {
  background-color: #e7eef1;
}

.footer p {
  color: #343a40;
  text-align: center;
  padding: 32px 0;
  margin: 0;
  font-size: 0.9em;
}

.placeholder {
  background-color: #e7eef1;
  border-radius: 0.25em;
  opacity: 0.5;
}

.placeholder.resto-item {
  padding-bottom: 100%;
}

.placeholder-image {
  padding-bottom: 100%;
}

.placeholder-thumbnail {
  padding-bottom: 70%;
}

.placeholder-title {
  border-radius: 32px;
  padding-bottom: 32px;
  margin-bottom: 16px;
}

.placeholder-description {
  border-radius: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.error__container {
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Skip to content */
.skip-to-content-link {
  background: #f0a500;
  color: #5a3b00;
  border: none;
  left: 50%;
  padding: 14px 16px;
  position: absolute;
  transform: translate(-50%, -100%);
  transition: transform 0.3s;
  border-radius: 0 0 8px 8px;
  z-index: 30;
}

.skip-to-content-link:focus {
  transform: translate(-50%, 0%);
}

/* Mobile */
@media screen and (min-width: 425px) {
  .hero__img {
    background-position: 20% top;
  }
  .resto-item__info {
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  p {
    font-size: 1em;
  }

  .resto-detail__title {
    font-size: 2em;
  }

  .container {
    padding: 0 16px;
  }

  .header__inner {
    padding: 24px 0;
  }
  .content {
    padding: 48px 0;
  }

  .restos {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__inner {
    padding: 124px 48px;
  }

  .resto-detail__review-item {
    flex: 0 0 33.3%;
  }

  #drawer {
    transform: translateX(0);
    position: relative;
    height: auto;
    box-shadow: none;
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: end;
  }
  #hamburger {
    display: none;
  }
}

/* Laptop / Desktop */
@media screen and (min-width: 1024px) {
  .restos {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .resto-detail__container,
  .resto-detail__menus-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .resto-detail__review-item {
    flex: 0 0 25%;
  }
  .hero__img {
    background-image: url('../public/resized-images/hero-image_1-large.webp');
  }
}

@media screen and (min-width: 1204px) {
  .hero {
    padding: 0 16px;
  }
  .hero__overlay,
  .hero__img {
    border-radius: 12px;
  }
}
